.gitignore
.*
/tunning/

!Méta_Heuristiques.*
!Méthodes_Heuristiques.*
!Hybridation/
!Exact_methods.*
!BPP_Solver.py
!Model.py

!Platforme.*
Platforme/GUI/bpp_solver/node_modules


/tunning/Instances/
