!.gitignore
.*
/tunning/

!Méta_Heuristiques.*
!Méthodes_Heuristiques.*
!Exact_methods.*
!BPP_Solver.py
!Model.py
!Rapport.*
!Platforme.*
/Rapport/Heuristiques.toc
/Rapport/Heuristiques.synctex.gz
/Rapport/Heuristiques.sta
/Rapport/Heuristiques.log
/Rapport/Heuristiques.fls
/Rapport/Heuristiques.fdb_latexmk
/Rapport/Heuristiques.aux
/tunning/Instances/
